@charset "UTF-8";
*{
    margin:0;
    padding:0;
    font-family: "Microsoft YaHei",'ו',Arial,Microsoft YaHei,Helvetica,sans-serif;
    font-size:16px;
    line-height:1.42857;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
body{
    background: #f5f5f5;
    padding: 20px;
}
section{
    margin:10px;
}
.ui-table-collpase{
    border-collapse: collapse;
    border-spacing:0
}
.ui-table-collpase td, .ui-table-collpase th{
    padding:10px 15px;
}
.ui-table-stripe>thead>tr{
    background: #000;
    color: #fff;
}
.ui-table-stripe>tbody tr:nth-child(even){
    background: #ccc;
}
.ui-table-stripe>tbody tr:nth-child(odd){
    background: #fff;
}
.ui-table-stripe>tbody tr:nth-child(1), .ui-table-stripe>tbody tr:nth-child(2), .ui-table-stripe>tbody tr:nth-child(3){
    color: #f00;
}
.ui-form .ui-flexo{
    width: 100px;
    transition: width .5s ease-in;
}
.ui-form .ui-flexo:focus{
    width: 200px;
}
.ui-banner-container{
    position: relative;
    width: 300px;
    height: 200px;
    overflow: hidden;
}
.ui-banner{
    width: 300%;
    height: 200px;
    list-style-type:none;
    position: absolute;
    transition: left .8s ease-in;
}
.ui-banner:before, .ui-banner:after{
    content: '';
    clear: both;
}
.ui-banner .banner{
    height: 200px;
    width: 300px;
    float: left;
}
.banner.banner1{
    background: pink;
}
.banner.banner2{
    background: red;
}
.banner.banner3{
    background: lightblue;
}
.ui-banner-tab{
    position: absolute;
    right: 0;
    bottom: 0;
}
.ui-banner-tab .banner-btn{
    display: inline-block;
    width: 30px;
    height: 30px;
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.3);
    text-align: center;
    line-height: 30px;
}
#banner1:checked~.ui-banner{
    left: 0;
}
#banner2:checked~.ui-banner{
    left: -100%;
}
#banner3:checked~.ui-banner{
    left: -200%;
}
#banner5:target + .ui-banner-tab{
    right: -100%;
}